# Ignore all files
*.*

# Except
!*.json
!*.js
!*.zip
!*.7z
!*.csv
!*.ain
!*.fnl
!*.ks
!*.tjs
!*.yaml
!Data/*
!*.rb
!.gitignore
!README.md
!game.ini

# Images
!a-158i01.rpgmvp
!a-158i02.rpgmvp
!a-158i03.rpgmvp
!a-158i04.rpgmvp
!a-158i05.rpgmvp
!a-158i06.rpgmvp
!a-158i07.rpgmvp
!a-158i08.rpgmvp
!a-158i09.rpgmvp
!a-158i10.rpgmvp
!a-158i10a.rpgmvp
!a-158i11.rpgmvp
!a-158i12.rpgmvp
!a-158i14.rpgmvp
!a-158i15.rpgmvp
!a-158i16.rpgmvp
!a-190.rpgmvp
!a-190a01.rpgmvp
!a-190a01a.rpgmvp
!a-190a02.rpgmvp
!a-190a03.rpgmvp
!a-190a05.rpgmvp
!a-190a08.rpgmvp
!a-190a10.rpgmvp
!a-190a11.rpgmvp!
!a-190a12.rpgmvp!
!a-190a13.rpgmvp!
!et-04-2.rpgmvp
!es-21.rpgmvp
!ae-001.rpgmvp
!ae-002.rpgmvp
!ae-003.rpgmvp
!ae-004.rpgmvp
!ae-005.rpgmvp
!ae-006.rpgmvp
!ae-007.rpgmvp
!ae-008.rpgmvp
!ae-009.rpgmvp
!ae-011.rpgmvp
!ae-012.rpgmvp
!ae-013.rpgmvp
!ae-014.rpgmvp
!ae-015.rpgmvp
!ae-016.rpgmvp
!ae-021.rpgmvp
!ae-022.rpgmvp
!ae-023.rpgmvp
!ae-024.rpgmvp
!ae-025.rpgmvp
!ae-027.rpgmvp
!ae-028.rpgmvp
!ae-031.rpgmvp
!ae-032.rpgmvp
!ae-033.rpgmvp
!ae-034.rpgmvp
!ae-035.rpgmvp
!ae-040.rpgmvp
!ae-041.rpgmvp
!ae-042.rpgmvp
!ae-043.rpgmvp
!ae-044.rpgmvp
!ae-045.rpgmvp
!ae-046.rpgmvp
!ae-047.rpgmvp
!ae-048.rpgmvp
!ae-051.rpgmvp
!ae-052.rpgmvp
!ae-053.rpgmvp
!ae-054.rpgmvp
!ae-055.rpgmvp
!ae-062.rpgmvp
!ae-063.rpgmvp
!ae-064.rpgmvp
!ae-065.rpgmvp
!ae-072.rpgmvp
!ae-073.rpgmvp
!ae-074.rpgmvp
!ae-075.rpgmvp
!ae-076.rpgmvp
!ae-082.rpgmvp
!ae-083.rpgmvp
!ae-084.rpgmvp
!ae-085.rpgmvp
!ae-086.rpgmvp
!ae-087.rpgmvp
!ae-088.rpgmvp
!ae-092.rpgmvp
!ae-093.rpgmvp
!ae-094.rpgmvp
!ae-095.rpgmvp
!ae-096.rpgmvp
!ae-097.rpgmvp
!ae-102.rpgmvp
!ae-103.rpgmvp
!ae-104.rpgmvp
!ae-105.rpgmvp
!ae-106.rpgmvp
!ae-107.rpgmvp
!ae-113.rpgmvp
!ae-114.rpgmvp
!ae-115.rpgmvp
!ae-116.rpgmvp
!ae-117.rpgmvp
!ae-121.rpgmvp
!ae-122.rpgmvp
!ae-123.rpgmvp
!ae-124.rpgmvp
!ae-125.rpgmvp
!ae-130.rpgmvp
!ae-131.rpgmvp
!ae-132.rpgmvp
!ae-133.rpgmvp
!ae-134.rpgmvp
!ae-135.rpgmvp
!ae-136.rpgmvp
!ae-137.rpgmvp
!ae-138.rpgmvp
!ae-139.rpgmvp
!ae-140.rpgmvp
!ae-141.rpgmvp
!ae-142.rpgmvp
!ae-143.rpgmvp
!ae-171.rpgmvp
!ae-172.rpgmvp
!ae-173.rpgmvp
!ae-174.rpgmvp
!ae-175.rpgmvp
!ae-176.rpgmvp
!ae-177.rpgmvp
!ae-178.rpgmvp
!ae-179.rpgmvp
!ae-180.rpgmvp
!ae-181.rpgmvp
!ae-182.rpgmvp
!ae-183.rpgmvp
!ae-184.rpgmvp
!ae-185.rpgmvp
!ae-186.rpgmvp
!ae-187.rpgmvp
!ae-188.rpgmvp