# Ignore all files
*.*

# Except
!*.json
!*.js
!*.zip
!*.7z
!*.csv
!*.ain
!*.fnl
!*.ks
!*.tjs
!*.yaml
!Data/*
!*.rb
!.gitignore
!README.md
!game.ini

# Images
!a-158i01.rpgmvp
!a-158i02.rpgmvp
!a-158i03.rpgmvp
!a-158i04.rpgmvp
!a-158i05.rpgmvp
!a-158i06.rpgmvp
!a-158i07.rpgmvp
!a-158i08.rpgmvp
!a-158i09.rpgmvp
!a-158i10.rpgmvp
!a-158i10a.rpgmvp
!a-158i11.rpgmvp
!a-158i12.rpgmvp
!a-158i14.rpgmvp
!a-158i15.rpgmvp
!a-158i16.rpgmvp
!a-190.rpgmvp
!a-190a01.rpgmvp
!a-190a01a.rpgmvp
!a-190a02.rpgmvp
!a-190a03.rpgmvp
!a-190a05.rpgmvp
!a-190a08.rpgmvp
!a-190a10.rpgmvp
!a-190a11.rpgmvp!
!a-190a12.rpgmvp!
!a-190a13.rpgmvp!